/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-site-bonuses {
	background: #f9f9f9;
	border-left: 6px solid #f1f1f1;
	border-radius: 8px;
	padding: .75rem;
}
